{% extends "personalia/base.html" %}

{% block title %}
  data warga
{% endblock %}

{% block content %}
<div class="page-header">
  <h1><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Data Anggota</h1>
</div>
<div class="">
  <table class="table table-bordered table-striped">
    {% block table %}
    <thead>
      <tr class="something">
        <th class="col-md-2">No</th>
        <th class="col-md-4">ID Anggota</th>
        <th class="col-md-4">Nama</th>
        <th class="col-md-2">Jenis Kelamin</th>
        <th class="col-md-2">Jenjang Karir</th>
        <th class="col-md-2">Leader</th>
      </tr>
    </thead>
    <tbody>
      {% for anggota in anggota %}
      {{anggota}}
      <tr class="something">
        <td class="col-sm-2">{{forloop.counter}}</td>
        <td class="col-md-4">{{anggota.id_warga|upper}}</td>
        <td class="col-md-4">{{anggota.individu.nama|title}}</td>
        <td class="col-md-4">{{anggota.individu.get_jk_display}}</td>
        <td class="col-md-4">{{anggota.get_jenjang_display}}</td>
        <td class="col-md-4">{{anggota.pangkal.nama|title}}</td>
      </tr>
      {% endfor %}
    </tbody>
    {% endblock %}
  </table>
</div>
{% endblock %}
